<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <%- include('layouts/masthead'); -%>
        <%- include('layouts/scripts'); %>
    </body>
</html>