<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <!-- <div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div> -->
        <div class="small text-center text-muted">AlzKB was funded by grant R01 AG066833 from the National Institute on Aging (NIA), National Institutes of Health (NIH).</div>
    </div>
</footer>