<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="The Alzheimer's Disease Knowledge Base (AlzKB) integrates more than 20 different sources of knowledge about genes, pathways, drugs, and diseases to inform AI analyses." />
    <meta name="keywords" content="alzkb, alzheimer, alzheimer's, knowledgebase, alzheimer's knowledgebase, alzheimer knowledgebase, 
        alzheimer kb, alzheimer's kb, alzheimer disease, alzheimer's disease, knowledge base, knowledge, base, research" />
    <title>AlzKB  - A Knowledge Base for Alzheimer's Disease Research</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" /> -->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>