<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">The Alzheimer's KnowledgeBase (AlzKB)</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white mb-5">
                    Knowledge engineering is an important component of any AI project. 
                    This is especially true for the development and application of AI algorithms and software for the study of Alzheimer's disease where prior biological knowledge can assist with feature selection, model selection, and model interpretation. 
                    The Alzheimer's KnowledgeBase (AlzKB) integrates more than 20 different sources of knowledge about genes, pathways, drugs, and diseases to inform AI analyses. 
                    It is our hope that this integrated knowledgebase can be used to identify new biomarkers of Alzheimer's leading to new drug targets.
                </p>
                <p class="text-white mb-5">
                    AlzKB was funded by grant R01 AG066833 from the National Institute on Aging (NIA), National Institutes of Health (NIH).
                </p>
                <!--<a class="btn btn-primary btn-xl" title="Leave 'username' and 'password' blank and press Connect." target="_blank" href="http://neo4j.alzkb.ai/browser/">Launch AlzKB</a>-->
                <a class="btn btn-primary btn-xl" title="Leave 'username' and 'password' blank and press Connect." target="_blank" href="<%= neo_browser %>">Launch AlzKB</a>
            </div>
        </div>
    </div>
</header>
